<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Submit Quote - Shut That Down</title>

    <!-- Meta & Opengraph tags -->

    <meta name="description" content="Who's funding hate in your state? Exposing which corporations give money to misogynist, racist, xenophobic, homophobic, and transphobic politicians.">

    <meta property="og:title" content="Submit Quote">
    <meta property="og:site_name" content="Shut That Down">
    <meta property="og:url" content="https://shutthatdown.com/submit">
    <meta property="og:description" content="Who's funding hate in your state? Find out who gives money to misogynist, racist, xenophobic, homophobic, and transphobic politicians.">
    <meta property="og:image" content="https://shannonvturner.com/images/shutthatdown.png">

    {% include "header.html" %}
    <meta name="twitter:title" content="Submit a quote">
    <meta name="twitter:description" content="Are we missing any quotes? Submit them here!">
    <meta name="twitter:image:src" content="https://shannonvturner.com/images/shutthatdown.png">

  </head>

<body>

{% include "nav.html" %}

<div id="main_ribbon" style="overflow: hidden; height: 1%;">

    <div class="row">

        <div class="container text-center">
            <span class="wehaveways"><h2 class="wehaveways" style="color: #000;">Submit a quote</h2>
        </div>

        <div class="col-lg-8 col-lg-offset-2 text-center">
        <iframe id="submit-quote" src="https://docs.google.com/forms/d/1vpybx2WK2LtZxXmsXcShs_oIpn7fh5o5Vm1_oDR5NRQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0" height="675">Loading...</iframe>
        </div>
    
    </div>
    
</div>

    {% include "footer.html" %}

  </body>
</html>