<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ quote_type }} quotes - Shut That Down</title>

    <!-- Meta & Opengraph tags -->

    <meta name="description" content="Who's funding hate in your state? Exposing which corporations give money to misogynist, racist, xenophobic, homophobic, and transphobic politicians.">

    <meta property="og:title" content="Browse {{ quote_type }} quotes">
    <meta property="og:site_name" content="Shut That Down">
    <meta property="og:url" content="http://shutthatdown.com/browse/{{ quote_type|lower }}">
    <meta property="og:description" content="Who's funding hate in your state? Find out who gives money to misogynist, racist, xenophobic, homophobic, and transphobic politicians.">
    <meta property="og:image" content="http://shannonvturner.com/images/shutthatdown.png">

    {% include "header.html" %}

  </head>

<body>

{% include "nav.html" %}

<div id="main_ribbon" style="overflow: hidden; height: 1%;">

    <div class="row">

        <div class="container text-center">
            <span class="wehaveways"><h2 class="wehaveways" style="color: #000;">{{ quote_type }} quotes</h2>
        </div>

        {% for quote in quotes %}

            {% cycle '<div class="row">' '' '' %}

            <div class="col-lg-4">
                <a class="no-underline" href="/quote/{{ quote.id }}">
                <span class="{{ quote.types.all.0|lower }}"><h2 class="{{ quote.types.all.0|lower }}">"{{ quote.quote|truncatechars:60 }}"</h2></span>
                </a>
            </div>

            {% cycle '' '' '</div>' %}
        {% endfor %}

    </div>
    
</div>

    {% include "footer.html" %}

  </body>
</html>