<div id="footer-ribbon" class="row">

    <div class="col-lg-10 col-lg-offset-1 text-center">

    <br>

    <!-- Facebook button -->
    <div class="fb-like" data-href="http://shutthatdown.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" style="top: -5px; margin-right: 10px;"></div>

    <!-- Twitter button -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="shutthatdown">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- G+ button -->
    <div class="g-plusone" data-size="medium" data-width="300"></div>

    <h4> Shut That Down made by <a href="http://twitter.com/svthmc" target="_blank">Shannon Turner</a></h4>

    <!-- Twitter follow buttons -->
    <a href="https://twitter.com/ShutThatDown" class="twitter-follow-button" data-show-count="false">Follow @ShutThatDown</a>

    <a href="https://twitter.com/svthmc" class="twitter-follow-button" data-show-count="false">Follow @svthmc</a>

    <h4> Collecting quotes takes lots of time! If you see one missing, please <a href="/submit">submit one!</a></h4>

    <h4> Campaign contributions come from the <a href="http://influenceexplorer.com/" target="_blank">Sunlight Foundation's Influence Explorer API</a> and the <a href="http://opensecrets.org/" target="_blank">Center for Responsive Politics' Open Secrets API</a>. </h4>

    <h4> This website is open-source. The code lives here: <a href="https://github.com/shannonturner/shut-that-down" target="_blank">https://github.com/shannonturner/shut-that-down</a> </h4>

    </div>
    
</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://shannonvturner.com/bootstrap/js/bootstrap.min.js"></script>

<!-- Google + -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<!-- Facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>