<!-- Bootstrap -->
<link href="http://shannonvturner.com/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- Font & CSS -->

<link rel="icon" href="http://shutthatdown.com/static/images/favicon.ico">

<link href='http://fonts.googleapis.com/css?family=Courgette|Quando' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://shannonvturner.com/css/shutthatdown.css">

<!-- JQVMap (https://github.com/manifestinteractive/jqvmap) -->
<link href="http://shannonvturner.com/jqvmap/jqvmap/jqvmap.css" media="screen" rel="stylesheet" type="text/css">

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43517517-1', 'shutthatdown.com');
  ga('require', 'linkid', 'linkid.js');
  ga('send', 'pageview');

</script>