<!-- navbar -->

<nav class="navbar navbar-inverse navbar-shutthatdown navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="padding-top: 18px;" class="navbar-brand" href="/"><b>Shut That Down</b></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li style="padding-top: 5px;" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Quotes </b><b class="caret"></b></a>
          <ul class="dropdown-menu navbar-inverse navbar-shutthatdown">
            <li><a style="background-color: #F78B24;" href="/browse/misogynist"><b>Misogynist</b></a></li>
            <li><a style="background-color: #F0C22F;" href="/browse/racist"><b>Racist</b></a></li>
            <li><a style="background-color: #A6C43C;" href="/browse/xenophobic"><b>Xenophobic</b></a></li>
            <li><a class="gradient-lgbtq" href="/browse/anti-lgbtq"><b>Anti-LGBTQ</b></a></li>
          </ul>
        </li>
          <li style="padding-top: 5px;"><a href="/state"><b>In my state</b></a></li>
          <li><a href="/quote"><button class="btn-danger" ><b>Random Quote</b></button></a></li>
          <li><a href="/submit"><button class="btn-success"><b>Submit Quote</b></button></a></li>

          <!-- Facebook button -->
          <li style="margin-top: 20px; margin-right: 10px;"><div class="fb-like" data-href="http://shutthatdown.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></li>

          <!-- Twitter button -->
          <li style="padding-top: 20px;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="shutthatdown">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </li>

          <!-- Google + button -->
          <li style="padding-top: 20px;"><div class="g-plusone" data-size="medium" data-width="300"></div></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- END: navbar -->