<!DOCTYPE html>

<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Meta & Opengraph tags -->

    <title>Quotes - Shut That Down</title>

    <meta name="description" content="Who's funding hate in your state? Exposing which corporations give money to misogynist, racist, xenophobic, homophobic, and transphobic politicians.">

    <meta property="og:title" content="Quotes - Shut That Down">
    <meta property="og:site_name" content="Shut That Down">
    <meta property="og:url" content="http://shutthatdown.com/quote/{{ quote.id }}">
    <meta property="og:description" content="Who's funding hate in your state? Find out who gives money to misogynist, racist, xenophobic, homophobic, and transphobic politicians.">
    <meta property="og:image" content="http://shutthatdown.com/static/images/quotes/{{ quote.id }}.png">

    {% include "header.html" %}
    <meta name="twitter:title" content="{{ quote.types.all.0 }} quote by {{ person.display_name }}">
    <meta name="twitter:description" content="{{ person.display_name }} said: {{ quote.quote|truncatechars:75 }}">
    <meta name="twitter:image:src" content="http://shutthatdown.com/static/images/quotes/{{ quote.id }}.png">

    <!-- Font Awesome for the Shut That Down logo -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

<body>

{% include "nav.html" %}

<div id="main_ribbon" style="overflow: hidden; height: 1%;">

    <!-- Messages go here -->

    {% if messages %}
      {% for message in messages %}
            <br>
            <div id="message" class="col-lg-6 col-lg-offset-3 text-center alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
            {{ message }}
            </div>
      {% endfor %}
    {% endif %}

    <div class="row">

        <div class="col-lg-8 col-lg-offset-2 text-center">
            <br>
            <div class="media">
              <a class="pull-left sm-nopull" href="{% if person.influence_explorer %}{{ person.influence_explorer }}" target="_blank{% else %}#{% endif %}">
                {% if person.image_url %}
                <img class="media-object img-responsive" src="{{ person.image_url }}" alt="{{ person.display_name }}" title="{{ person.display_name }}" width="150" style="margin: auto;">
                <br> <h3> {{ person.display_name }} </h3>
                {% endif %}
              </a>
              <div class="media-body">
                <span class="{{ quote.types.all.0|lower }}">
                    <h2 class="media-heading {{ quote.types.all.0|lower }}" id="quote-{{ quote.types.all.0|lower }}" style="width: 100%;">"{{ quote.quote }}"
                    <!-- For creating shareable images -->
                    <br> <br>
                    - {{ person.display_name }} <br>
                    <i class="fa fa-power-off" style="color: #fff;"></i> ShutThatDown.com #shutthatdown
                    </h2>
                </span>
                <br>
                <span class="wehaveways">
                    <h2 id="person-info">{{ person.party }} | {{ person.state }} | {{ person.title }}  

                        <br> <br>

                        Can you believe
                        {% if person.gender = "M" %}
                            he
                        {% elif person.gender = "F" %}
                            she
                        {% else %}
                            they
                        {% endif %}
                        said that? Tell your friends:
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://shutthatdown.com/quote/{{ quote.id }}" data-text="http://shutthatdown.com/static/images/quotes/{{ quote.id }}.png" data-via="svt827" data-size="large" data-hashtags="shutthatdown">Tweet</a>
                        {% if person.facebook %}
                            <!-- FACEBOOK LINK HERE -->
                        {% endif %}

                        {% if person.twitter %}
                            <!-- TWITTER LINK HERE -->
                        {% endif %}
                    </h2>
                </span>
              </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-8 text-center">
            <span>
                <h2 id="top-donors">Top Donors</h2>
            </span>

            {% for contribution in contributions %}

                {% if not contribution.errata %}

                <span>
                    <h2 class="{% cycle 'donation' 'donation2' %}">
                        {{ contribution.name|title }}

                    {% if contribution.facebook %}
                        <a class="btn btn-primary" href="{{ contribution.facebook }}" target="_blank"><img class="glyphicons facebook contact-icons" title="{{ contribution.name|title }} Facebook" alt="{{ contribution.name|title }} Facebook" src="http://shannonvturner.com/glyphicons_free/glyphicons_social/png/glyphicons_social_30_facebook.png"></a>
                    {% endif %}

                    {% if contribution.twitter %}
                        <span style="position: relative; top: 5px;">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-text=".@{{ contribution.twitter }}: do you want your brand associated with this? http://shutthatdown.com/static/images/quotes/{{ quote.id }}.png" data-size="large" data-count="none" data-hashtags="shutthatdown" alt="@{{ contribution.twitter }}" title="@{{contribution.twitter}}">Tweet</a>
                        </span>
                    {% endif %}

                    {% if contribution.email %}
                        <a class="btn btn-danger" href="mailto:{{ contribution.email }}"><img class="glyphicons facebook contact-icons" title="{{ contribution.name|title }} Email" alt="{{ contribution.name|title }} Email" src="http://shannonvturner.com/glyphicons_free/glyphicons_social/png/glyphicons_social_39_e-mail.png"></a>
                    {% endif %}

                    gave <button class="btn-success">${{ contribution.amount }}</button>

                    </h2>
                </span>

                {% endif %}

            {% endfor %}

            <span>
                <h4 id="donation-credits">Donation information provided by the <br> <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>, <a href="http://opensecrets.org/" target="_blank">OpenSecrets.org</a>, and <a href="http://followthemoney.org" target="_blank">FollowTheMoney.org</a></h2>
            </span>
            <span>
                {% if contributions|length < 4 %}
                    <h4 id="realtime-disclosure">There aren't many donations here, but <a href="http://sunlightfoundation.com/blog/2013/12/11/real-time-disclosure-one-simple-fix-for-a-more-informed-public/" target="_blank">requiring realtime disclosure of contributions</a> would fix that problem.</h4>
                {% endif %}
            </span>

        </div>

        <div class="col-lg-4 text-center">

            <span class="racist"><h2 style="font-size: 29px;">You can shut this whole thing down by asking these companies:</h2></span>
            <span class="xenophobic"><h2>Did you know they *SAID* that?</h2></span>
            <span class="homophobic"><h2>Are you comfortable with that?</h2></span>
            <span class="transphobic"><h2>Do you want your brand associated with that?</h2></span>
            <span class="wehaveways"><h2 style="color: #000;">Are you going to get your money back?</h2></span>

        </div>

    </div>

    <div class="row">

        {% if other_quotes %}

        <div class="container text-center">
            <h3>More quotes</h3>
        </div>

        {% endif %}

        {% for other_quote in other_quotes %}
            <div class="col-lg-4">
                <a class="no-underline" href="/quote/{{ other_quote.id }}">
                <span class="{{ other_quote.types.all.0|lower }}"><h2 class="{{ other_quote.types.all.0|lower }}">"{{ other_quote.quote|truncatechars:60 }}"</h2></span>
                </a>
            </div>
        {% endfor %}

    </div>
    
</div>

    {% include "footer.html" %}

  </body>
</html>